<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header">
            <h3>Category Form</h3>
          </div>
          <div class="card-body">
            <div th:replace="fragments/category-form.html :: categoryForm"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>